#action-buttons {
    display: flex;
    gap: 30px;

    button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        background-color: white;
    }
}